*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
a{
    color: black;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Lato' sans-serif;
    font-weight: bold;
}
.flex{
    display: flex;
}

.header{

    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);

}
.ul{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding:15px;

}

.logo{
    height: 40px;
    margin-left: 50px ;
}

.li{    
    font-size: 12pt;
    font-weight: 600;
    margin: 0 100px;
}

.li > a{
    color: rgba(0,0,0,0.8);
    padding: 10px;
}

.li > a:hover{
    color: deepskyblue;
    
}


.main{
    width: 100%;
    height: 3000px;
}
/* ---------------------------banner---------------------------- */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0 150px 0;    
}

.banneralign{
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
}
.textbanner{
    margin: 0 10px;
    text-align: center;
    font-size: 60pt;
    font-weight: 400;
    color: rgba(0,0,40,0.8);
}
.blue{
    color: deepskyblue;
}
.subtextbanner{
    text-align: center ;
    font-size: 14pt;
    font-weight: 400;
    color: dimgrey;
}

.button{
    background-color: deepskyblue;
    font-size: 12pt;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
    
    color: white;
}
.button > a{
    color: white;
}

.button:hover{
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
/* ----------------------------------how-------------------- */


.how{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, deepskyblue, dodgerblue);
    text-align: center ;
    padding: 50px;
}


.howbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 50px;
}

.howbox > p {
    font-size: 12pt;
    color:white;
}

#generatename, #generatesubject, #generatepet, #randomall{

    background-color: white;
    color: rgba(0,0,0,0.8);
    height: 50px;
    width: 250px;
    align-self: center;
    text-align: center;
}
#random-name, #random-subject, #random-pet{
    animation-duration: 0.3s;
    color: rgba(0,0,40,0.8);
    font-size: 45pt;
    font-weight: 400;
    margin: 50px 0 ;
}

#randomall{
    align-self: center;
    height: 50px;
}